@font-face {
    font-family: 'UTM Niagara';
    src: url("../fonts/UTMNiagara.eot");
    src: url("../fonts/UTMNiagara.eot?#iefix") format("embedded-opentype"), url("../fonts/UTMNiagara.woff2") format("woff2"), url("../fonts/UTMNiagara.woff") format("woff"), url("../fonts/UTMNiagara.ttf") format("truetype"), url("../fonts/UTMNiagara.svg#UTMNiagara") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa Bold';
  src: url("../fonts/NexaBold.eot");
  src: url("../fonts/NexaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/NexaBold.woff2") format("woff2"), url("../fonts/NexaBold.woff") format("woff"), url("../fonts/NexaBold.ttf") format("truetype"), url("../fonts/NexaBold.svg#NexaBold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
    font-family: 'Nexa Light';
  src: url("../fonts/NexaLight.eot");
  src: url("../fonts/NexaLight.eot?#iefix") format("embedded-opentype"), url("../fonts/NexaLight.woff2") format("woff2"), url("../fonts/NexaLight.woff") format("woff"), url("../fonts/NexaLight.ttf") format("truetype"), url("../fonts/NexaLight.svg#NexaLight") format("svg");
  font-weight: 300;
  font-style: normal;
}
